.subheading-section {
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.page-heading.move-up .subheading-section {
  opacity: 1;
}

.page-heading .subheading-section {
  position: relative;
  top: 40px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.page-heading.move-up .subheading-section {
  top: 0;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.intro-header .page-heading h1 {
  display: inline;
}
.intro-header .page-heading .typed-cursor {
  font-size: 50px;
}
@media only screen and (min-width: 768px) {
  .intro-header .page-heading .typed-cursor {
    font-size: 80px;
  }
}