.header-section.has-img .no-img {
  margin-top: 0;
  background: #FCFCFC;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #AAA;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}

.list-filters {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.list-filters .list-filter  {
  text-decoration: none !important;
  margin-right: 15px;
  border: 1px solid #777;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
}

.list-filters .list-filter.filter-selected,
.list-filters .list-filter:hover {
  color: #fff;
  background: #444;
}

@media only screen and (max-width: 550px) {
  .list-filters .list-filter {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: -1px;
    display: block;
  }
}

.post-preview {
  padding: 15px 10px;
  display: block;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 30px 10px;
  }
}

.posts-list article {
  border-bottom: 1px solid #eee;
}
.posts-list article:last-child {
  border-bottom: 0;
}
.posts-list article:hover {
  background: #f5f5f5;
}

.post-preview {
  text-decoration: none !important;
  color: #404040 !important;
}

.post-preview .post-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
}
@media only screen and (max-width: 550px) {
  .post-preview .post-title {
    font-size: 26px;
  }
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 20px;
}

.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}
.post-preview .post-entry {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.post-preview .post-read-more {
  font-weight: 800;
}

.post-preview .post-entry {
  display: none;
}
