body {
  padding: 50px 0;
}

.hideme {
  display: none;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  text-align: center;
}