body {
  position: relative;
}

.hideme {
  display: none;
}

.container {
  padding-bottom: 50px;
}

.middle {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 2em;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
