---
layout: page
title: My site title
subtitle: some descriptoin lalala
bigimg:
  - "/img/big-imgs/vietnam-jump.jpg"
  - "/img/big-imgs/california-surf3.jpg"
  - "/img/big-imgs/costa-rica.jpg"
  - "/img/big-imgs/costa-rica-climb.jpg"
  - "/img/big-imgs/costa-rica-house.jpg"
  - "/img/big-imgs/grouse-grind.jpg"
  - "/img/big-imgs/hawaii1.jpg"
  - "/img/big-imgs/hawaii2.jpg"
  - "/img/big-imgs/hongkong-cliff-dive.jpg"
  - "/img/big-imgs/hongkong-infinity-pool.jpg"
  - "/img/big-imgs/israel-camel.jpg"
  - "/img/big-imgs/israel-dive1.jpg"
  - "/img/big-imgs/israel-dive2.jpg"
  - "/img/big-imgs/israel-dive3.jpg"
  - "/img/big-imgs/italy.jpg"
  - "/img/big-imgs/laod-pond2.jpg"
  - "/img/big-imgs/laos-pond1.jpg"
  - "/img/big-imgs/laos-pond3.jpg"
  - "/img/big-imgs/st-martin.jpg"
  - "/img/big-imgs/vietnam-beach.jpg"
  - "/img/big-imgs/vietnam-climb.jpg"
  - "/img/big-imgs/vietnam-dunes.jpg"
  - "/img/big-imgs/vietnam-fruits.jpg"
  - "/img/big-imgs/vietnam-hat.jpg"
  - "/img/big-imgs/tanzania.jpg"
---

<div class="jumbotron">
  Under construction!
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
