<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">

          {% if site.author.email and site.footer-links-active.email %}
          <li>
            <a href="mailto:{{ site.author.email }}?subject=Hello from {{ site.url-pretty }}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.calendly and site.footer-links-active.calendly %}
          <li>
            <a href="https://calendly.com/{{ site.author.calendly }}" target="_blank" title="Schedule a meeting with me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.twitter and site.footer-links-active.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.github and site.footer-links-active.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.facebook and site.footer-links-active.facebook %}
          <li>
            <a href="https://www.facebook.com/{{ site.author.facebook }}" title="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.stackoverflow and site.footer-links-active.stackoverflow %}
          <li>
            <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" title="StackOverflow">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

          {% if site.author.linkedin and site.footer-links-active.linkedin %}
          <li>
            <a href="https://linkedin.com/{{ site.author.linkedin }}" title="LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}

        {% if site.author.telephone and site.footer-links-active.telephone %}
          <li>
            <a href="tel:{{ site.author.telephone }}" title="Phone">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">Phone</span>
            </a>
          </li>
          {% endif %}

          {% if site.footer-links-active.rss %}
          <li>
            <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Subscribe to my blog">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>		
          {% endif %}

        </ul>

        <p class="copyright text-muted">
          &copy; {{ site.author.name }}
          &nbsp;&bull;&nbsp;
          {{ site.time | date: '%Y' }}

          {% if site.author.email %}
          &nbsp;&bull;&nbsp;
          <a href="mailto:{{ site.author.email }}?subject=Hello from {{ site.url-pretty }}">{{ site.author.email }}</a>
          {% endif %}
        </p>
        
        <div style="text-align: center; margin: 10px 0 -10px;">
          Considering purchasing RStudio Connect, Shiny Server Pro, shinyapps.io, or any other RStudio product? Feel free to contact me to discuss.
        </div>

        <div id="mailchimp-subscribe-section-footer" class="mailchimp-subscribe-section">
        <div id="mc_embed_signup-footer">
          <form action="//deanattali.us14.list-manage.com/subscribe/post?u=a579a88c8f09f9b8502b9d0c3&amp;id=c180f5773c" method="post" id="mc-embedded-subscribe-form-footer" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll-footer">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-xs-12">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-footer" placeholder="Email" required="">
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer" class="button">
                  </div>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a579a88c8f09f9b8502b9d0c3_c180f5773c" tabindex="-1" value=""></div>
            </div>
          </form>
        </div>
        </div>

        <p class="theme-by text-muted">
          Theme by
          <a href="http://deanattali.com/beautiful-jekyll/">beautiful-jekyll</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="workshop-promo">
  <div class="addthis_bar_bottom2">
    <div>
      <div>
        <div class="addthis_bar_message2">
          <span style="white-space:pre-line;display:inherit;word-wrap:normal;">Attend my 4-day workshop in Toronto in January: Learn how to analyze data with R and create Shiny apps.<br/>Use promo code TIDYSHINYTEN for a 10% discount! (Limited time offer)
          </span>
        </div>
        <div>
          <a href="https://www.eventbrite.com/e/modern-r-data-processing-visualization-and-reporting-with-r-tickets-39862492789?aff=deanblog" target="_blank" class="addthis_bar_button_link2" style="background: rgb(102, 102, 102); border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255);">
            <span style="white-space:pre-line;display:inherit;word-wrap:normal;">More Info</span>
          </a>
        </div>
      </div>
      <div class="addthis_bar_x_container2">
        <div class="addthis_bar_x2" title="Hide" style="display: inline-block;"></div>
      </div>
    </div>
  </div>
</div>
