<div style="margin: -10px 0 35px 0; text-align: center;">

<script id="mNCC" language="javascript">
  medianet_versionId = "3111299";
  if (window.innerWidth >= 800) {
    medianet_width = "728";
    medianet_height = "90";
    medianet_crid = "770638892";
  } else if (window.innerWidth >= 520) {
    medianet_width = "468";
    medianet_height = "60";
    medianet_crid = "563915737";   
  } else {
    medianet_width = "160";
    medianet_height = "90";
    medianet_crid = "154252051";
  }
</script>

  <script src="//contextual.media.net/nmedianet.js?cid=8CUNAG150"></script>
  
</div>
