<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
	    {% for link_info in site.navbar-links %}
		{% for link in link_info %}
        <li>
		  <a href="{{ site.baseurl }}/{{ link[1] }}">{{ link[0] }}</a>
		</li>
		{% endfor %}
		{% endfor %}
      </ul>
    </div>
	
	{% if site.avatar %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <img class="avatar-img" src="{{ site.avatar }}" />
	  </div>
	</div>
	{% endif %}
	
  </div>
</nav>  