<div id="scroll-box">
  <div id="scroll-box-close">&times;</div>
  <div id="scroll-box-hire">
    Need Shiny help?
    <a href="/shiny">Hire me</a><br/>
    or <a target="_blank" href="https://calendly.com/attalitech/meeting">Schedule a meeting</a>!
  </div>
  <div id="mailchimp-subscribe-section-scrollbox" class="mailchimp-subscribe-section">
    <div id="mc_embed_signup-scrollbox">
      <form action="//deanattali.us14.list-manage.com/subscribe/post?u=a579a88c8f09f9b8502b9d0c3&amp;id=c180f5773c" method="post" id="mc-embedded-subscribe-form-scrollbox" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll-scrollbox">
  	      <label for="mce-EMAIL-scrollbox">Sign up to my Shiny newsletter</label>
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-xs-12">
  	            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-scrollbox" placeholder="Email" required="">
              </div>
              <div class="col-sm-4 col-xs-12">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-scrollbox" class="button" title="Sign up to my Shiny newsletter">
              </div>
            </div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a579a88c8f09f9b8502b9d0c3_c180f5773c" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
  </div>
  <div id="scroll-box-contact">
    Questions/comments?
    <a href="/contact">Contact me!</a>
  </div>
</div>
