{% if page.show-share or page.show-subscribe %}
  <div class="share-section">
    <h1 class="share-title">Liked what you read?</h1>
    
    {% if page.show-share %}
      <div class="share-buttons">
        {% capture urlmessage %}{{ site.url }}/contact{% endcapture %}
        
        {% capture urlfb %}https://www.facebook.com/dialog/feed?app_id={{ site.fb_app_id }}&link={{ site.url }}{{ page.url }}&name={{ page.title }}&caption={{ site.url-pretty }}&redirect_uri={{ site.url }}{{ page.url }}?message=Thanks for sharing!{% endcapture %}
        {% if page.share-img %}
          {% capture urlfb %}{{ urlfb }}&picture={{ page.share-img }}{% endcapture %}
        {% endif %}
    
        {% capture urltwitter %}https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via=daattali{% endcapture %}
        {% if page.tags contains 'rstats' %}
          {% assign maxlength = 94 %}
          {% capture urltwitter %}{{ urltwitter }}&hashtags=rstats{% endcapture %}
        {% else %}
          {% assign maxlength = 102 %}
        {% endif %}
        {% capture urltwitter %}{{ urltwitter }}&text={{ page.title | truncate: maxlength }}{% endcapture %}
        
        <a href="{{ urlmessage }}" data-ga-event=1 data-ga-category="share" data-ga-action="message" data-ga-label="{{ page.url }}">
          Let me know
        </a>
        <!--
        <a href="{{ urlfb }}" data-ga-event=1 data-ga-category="share" data-ga-action="facebook" data-ga-label="{{ page.url }}">
          Share on Facebook
        </a>
        -->
        <a href="https://www.paypal.me/daattali/10" data-ga-event=1 data-ga-category="share" data-ga-action="donate" data-ga-label="{{ page.url }}">
          Support me
        </a>
        <a href="{{ urltwitter }}" data-ga-event=1 data-ga-category="share" data-ga-action="twitter" data-ga-label="{{ page.url }}">
          Tweet it
        </a>
      </div>
    {% endif %}
    
    {% if page.show-subscribe %}
      <!-- MailChimp Signup Form -->
      <div id="mailchimp-subscribe-section-2">
        <div id="mc_embed_signup-2">
          <form action="//deanattali.us14.list-manage.com/subscribe/post?u=a579a88c8f09f9b8502b9d0c3&amp;id=c180f5773c" method="post" id="mc-embedded-subscribe-form-2" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll-2">
      	      <label for="mce-EMAIL-2">Sign up to my Shiny newsletter</label>
              <div class="container">
                <div class="row">
                  <div class="col-xs-8">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-2" placeholder="Email" required="">
                  </div>
                  <div class="col-xs-4">
                    <input type="text" value="" name="FNAME" class="text" id="mce-FNAME-2" placeholder="Name" required="">
                  </div>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a579a88c8f09f9b8502b9d0c3_c180f5773c" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-2" class="button">
            </div>
          </form>
        </div>
      </div>
    {% endif %} 

  </div>
{% endif %}
