---
layout: base
---

{% if page.bigimg or page.title %}

{% if page.bigimg and page.bigimg.first and page.bigimg.size > 1 %}
  {% assign multiple-imgs = true %}
  <div id="header-big-imgs" data-num-img={{ page.bigimg.size }}
    {% for bigimg in page.bigimg %}
	  data-big-img-{{ forloop.index }}="{{ bigimg | prepend: site.baseurl | replace: '//', '/' }}"
    {% endfor %}
  ></div>
{% endif %}

<header class="intro-header {% if page.bigimg %}big-img{% endif %}"
style="{% unless multiple-imgs %}background-image: url('{{ page.bigimg | prepend: site.baseurl | replace: '//', '/' }}');{% endunless %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
          <hr class="small">
          <span class="page-subheading">{{ page.subtitle }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
{% else %}
<div class="intro-header"></div>
{% endif %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
