---
layout: base
---

<header class="intro-header {% if page.bigimg %}big-img{% endif %}"
style="{% if page.bigimg %}background-image: url('{{ page.bigimg }}');{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
		  {% if page.subtitle %}
          <h2 class="post-subheading">{{ page.subtitle }}</h2>
		  {% endif %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main">
	    {{ content }}
	  </article>
	  
      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

      <div class="blog-comments">
	    {% include disqus.html %}
      </div>
    </div>
  </div>
</div>
